header {
    background-color: #00bfff;
    color: rgba(0, 0, 0, 0.881);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.1rem 1rem rgba(0,0,0,0.1);
    height: 4rem;
    width: 96.5%;
    margin-top: 0.8%;
}

header h1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: white;
      text-decoration: none;
      margin-left: 1.5rem;
      font-size: 1rem;
      transition: color 0.3s, border-bottom 0.3s;
      border-bottom: 0.1rem solid transparent;
}

nav a:hover {
    color: black;
    border-bottom: 0.1rem solid #93c5fd;
}

.container {
    width: 70%;
    height: 0.1rem;
    background-color: #64a4f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-left: 15rem;
    border-radius: 1rem;
}

.container2 {
    width: 80%;
    height: 42rem;
    background-color: #5599ec81;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 1rem;
}